<aside>
<div class="visible-xlg">
    <a class="navbar-brand" href="#" title="漏洞扫描">
        <img src="/static/images/logo3x.png"
             alt="漏洞扫描">
    </a>
    <ul class="navbar-aside">
        <li class="dropdown open">
            <a href="/assets">
                资产管理
                <i class="icons-xs icons-arrow-right">
                </i>
            </a>
            <a href="/masscan">
                Masscan扫描
                <i class="icons-xs icons-arrow-right">
                </i>
            </a>
            <a href="/subdomains">
                子域名枚举
                <i class="icons-xs icons-arrow-right">
                </i>
            </a>
            <a href="javascript:void(0);">
                web扫描
                <i class="icons-xs icons-arrow-right">
                </i>
            </a>
            <a href="javascript:void(0);">
                POC攻击
                <i class="icons-xs icons-arrow-right">
                </i>
            </a>
            <a href="javascript:void(0);">
                引擎管理
                <i class="icons-xs icons-arrow-right">
                </i>
            </a>
            {{/*<ul class="dropdown-list">*/}}
                {{/*<li>*/}}
                    {{/*<a href="#"*/}}
                       {{/*data-nav-id="corp.taskconfig.add">*/}}
                        {{/*添加扫描*/}}
                    {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*<li>*/}}
                    {{/*<a href="#">*/}}
                        {{/*扫描结果*/}}
                    {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*<li>*/}}
                    {{/*<a href="#">*/}}
                        {{/*爬虫结果*/}}
                    {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*<li>*/}}
                    {{/*<a href="#">*/}}
                        {{/*扫描中的任务*/}}
                    {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*<li>*/}}
                    {{/*<a href="#">*/}}
                        {{/*poc列表*/}}
                    {{/*</a>*/}}
                {{/*</li>*/}}
                {{/*<li>*/}}
                    {{/*<a href="#">*/}}
                        {{/*终端*/}}
                    {{/*</a>*/}}
                {{/*</li>*/}}
            {{/*</ul>*/}}
        </li>
    </ul>
</div>
</aside>